* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px 150px 300px;
}

h1 {
    color: red;
    margin-bottom: 30px;
    font-family: "Arial Black";
}

p {
    margin-bottom: 23px;
}

h1, p {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.box {
    background-color: #0f0e17;
    width: calc(100% / 3 - 24px);
    float: left;
    margin: 40px 12px ;
}

.pic {
    float: left;
    width: 120px;
}

.name {
    font-family: "Arial Black";
}

.name, .job {
    color: white;
}

.email {
    color: #0f9cdc;
}

.box img {
    margin-right: 12px;
}

.name, .job, .email {
    padding-top: 13px;
}